<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tanfel Hotel - Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <input name="email" type="email" placeholder="Email" required />
    <input name="password" type="password" placeholder="Password" required />
    <button style="background-color: blue; padding:20px; border:none;box-shadow:0 0 15px black;"type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Register here</a></p>
</body>
</html>
